*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
.div1{
    width: 20rem;
    height: 5rem;
    background-color: burlywood;
    /* overflow: visible; */
    /* overflow: hidden; */
    /* overflow: scroll; */
    /* overflow: auto; */
    /* overflow-y: ; hidden scroll*/
    /* overflow-x: ; */

}