*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'roboto', sans-serif;
}
.clear-fix::after{
    content:"";
    display: block;
    clear: both;
}
/* header */
.container__header{
    width: 100%;
    height: 11rem;
}
.content__header{
    background-color: grey;
    width: 100%;
    height: 5rem;

}
.content__header h1{
    padding: 1rem;
}
.nav__menu{
    background-color: blue;
    width: 100%;
    height: 6rem;
}
.nav__list{
    padding: 2rem;
}
.nav__item{
    display: inline;
    padding: 1rem;
}
.nav__item a{
    color: white;
}
/* header */

/* body */
.container__body{
    width: 100%;
    height: 100vh;
}

.sidebar-left__body{
    float: left;
    width: 30%;
    height: 100vh;
}
.content-right__body{
    float: right;
    width: 70%;
    height: 100vh;
}
.block1{
    float: left;
    width: 100%;
    height: 35vh;
    background-color: yellow;
}
.block2{
    float: left;
    width: 100%;
    height: 30vh;
    background-color: gray;
}
.block3{
    float: left;
    width: 100%;
    height: 35vh;
    background-color: white;
}
.nav-list__block1{
    padding-left: 3.5rem;
}
.nav-list__block2{
    padding-left: 3.5rem;
}
.content__body{
    width: 100%;
    height: 80%;
}
.content__body p{
    line-height: 2rem;
    text-indent: 2rem;
    letter-spacing: 2rem;
}
.select__block{
    width: 100%;
    height: 20%;
}
.select__block1{
    background-color: green;
    float: left;
    width: 50%;
    height: 100%;
}
.red{
    background: red;
}
/* body */

/* footer */
.container__footer{
    background-color: blue;
    width: 100%;
    height: 10vh;
}
.container__footer p {
    text-align: center;
    padding-top: 2rem;
    font-weight: 900;
}
/* footer */